:root {
    --font-family: 'neue-Haas',Arial, Helvetica, sans-serif;
    --light-bg:#333546;
    --primary-color:#007bff;
  }
@font-face {
    font-family: "neue-Haas";
    src: url("../fonts/NHaasGroteskTXPro-55Rg.ttf");
    /* src:
    url("css/fonts/Harabara.woff") format("woff"),
    url("css/fonts/Harabara.otf") format("opentype"),
    url("css/fonts/Harabara.svg#filename") format("svg"); */
    }
*{
    font-family: 'neue-Haas',Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--light-bg)
}
.header{
    background-color: #333546;
    color: #666774;
    overflow: hidden;
    padding: 20px 5%;
}
.header a {
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    color: white;
}
.header a:hover {
    color: white;
  }
.header .active {
    color: white;
}
.header a.logo {
    font-size: 25px;
    font-weight: bold;
    padding: 0 12px;
  }
  .header .header-nav-list {
      float: right;
      font-family: var(--font-family);
 
  }
  .header-nav-list a {
    color: #666774;
    padding: 8px 24px;
  }
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header .header-nav-list {
      float: none;
    }
  }
  .header button{
      min-width: 120px;
      margin-left: 24px;
  }

  .landing{
      background-color: var(--light-bg);
      padding: 8% 6%;
      clip-path: polygon(
        0 0, /* left top */
        100% 0, /* right top */ 
        100% 98%, /* right bottom */
        0 94% /* left bottom */
      );
  }
  .landing .profile {
    /* background-image: url('../images/logo.jpg'); */
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
  }
  .name p {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }
  .name p span.dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    margin-top: 35px;
    margin-left: 3px;
  }
.name .underline {
    height: 7px;
    width: 11%;
    background-color: #007bff;
}
.landing .profile-description , .container-right {
    color: #666774;
    padding-left: 12%;
}
.content-label {
    font-family: 'Poppins', sans-serif;
    display: inline-flex;
    align-items: center;
    margin-bottom: 3%;
    letter-spacing: .2rem;
    font-size: 14px;
    color: #666774;
}
.content-label .dash {
    height: 2px;
    width: 10px;
    background-color: #666774;
    margin-right: .9rem;
}
.profile-description h4,.col-md-6 h4 {
    font-family: 'Poppins', sans-serif;
    color: #EAEAEB;
    font-size: 21px;
    word-spacing: 2px;
}
.desc-text {
    font-size: 14px;
    margin-top: 8%;
    font-family: 'Poppins', sans-serif;
    color: #666774;
}
.social-list {
    list-style: none;
    padding: 16% 5% 16% 5%  ;
    padding-left: 0;

}
.social-list li {
    float: left;
    margin: 0 8px;
}
.social-list li a {
    color: white;
    font-size: 24px;
}
.social-list li:first {
    margin-left: 0;
}
.profile-description h6 , .email-contact h6 {
    color:#007bff;
    text-decoration: underline;
    font-family: 'Poppins', sans-serif;

}
.my-story-a, .email-contact, .stats,.stat-item {
    display: inline-flex;
    padding: 8% 0;
}
.my-story-a span , .email-contact span {
    margin-left: 16px;
    color:#007bff;
    /* border-bottom: 1px solid #007bff; */
}

/* Experience Stat section styles */
.experience-stat {
    background-color: #252634;
    padding: 8% 6%;
}
.email-contact {
    margin-top: 3.2rem;
}
.stats  .count {
    font-size: 4rem;
    color: var(--primary-color);   
    margin-bottom: .3rem;
}
.stats .stat-label {
    margin-left: 1.5rem;
    color: white;
    font-size: .76rem;
    letter-spacing: .05rem;
}
.stat-item {
    margin-left: 14%;
    align-items: flex-end;

}
.stats .stat-item:first-child{ 
    margin-left: 0;
}
.card-wrapper{
    position: absolute;
    padding: 0% 6%;
    width: -webkit-fill-available;
}
.skill-card {
    padding: 6%;
    background-color: #424757;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    margin: 0 4%;
}
.projects{
    background-color: var(--light-bg);
    padding: 4% 15%;
}
.projects .row{
    margin: 0;
}
.projects i{
    color: aliceblue;
    margin: 0.5rem  2rem;
}
 footer {
    text-align: center;
    padding: 0 4% 12% 4% ;
    background-color: #252634;
    color: aliceblue;
    font-family: var(--font-family);
}
footer p{
    font-weight: 400;
    margin: 1rem; 
}
.list-center {
    padding: 3% 36% 0% 43%;
}
.input-container{
    padding-top: 1rem;
}
label {
    color: #EAEAEB;
}
.input-container input{
    border: 0;
    border-bottom: 1px solid #4C4E60 ;
    background-color: #252634;
    width:85%;
    color: #666774;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}